@model IEnumerable<Databases_2_Project2_Grocery_store.Models.Product>

@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Products</h1>

@if (User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="Create">Create New Product</a> |
        <a asp-action="CreateDrink">Create new drink</a> |
        <a asp-action="CreateFood">Create new food</a>
    </p>
}
@Html.DropDownList("Type", new SelectListItem[] {
    new SelectListItem() { Text = "Select Type", Value = "" },
    new SelectListItem() { Text = "All", Value = "All" },
    new SelectListItem() { Text = "Food", Value = "Food" },
    new SelectListItem() { Text = "Drink", Value = "Drink" }},
new { onchange = $"document.location.href = '/Products?sortOrder={ViewBag.NextSortOrder}&sortItem={ViewBag.SortItem}&selectType=' + this.options[this.selectedIndex].value;" })
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NextSortOrder, sortItem = "name", selectType = ViewBag.SelectType })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.ActionLink("Price", "Index", new { sortOrder = ViewBag.NextSortOrder, sortItem = "price", selectType = ViewBag.SelectType })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Available)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Available)
                </td>
                <td>
                    @if (item.GetType().Name == "Drink")
                    {
                        <a asp-action="DetailsDrink" asp-route-id="@item.Id">Details</a>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a>| </a> <a asp-action="EditDrink" asp-route-id="@item.Id">Edit</a>
                            <a>| </a> <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        }
                    }
                    else if (item.GetType().Name == "Food")
                    {
                        <a asp-action="DetailsFood" asp-route-id="@item.Id">Details</a>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a>| </a> <a asp-action="EditFood" asp-route-id="@item.Id">Edit</a>
                            <a>| </a> <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        }
                    }
                    else
                    {
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a>| </a> <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a>| </a> <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
